h1{
    padding:1%;
}

nav ul{
display: flex;
flex-wrap: nowrap;
margin-left: 1%;
}

nav ul li{
margin-right: 1%;
border-radius: 10px;
flex-basis: 20%;
text-align: center;
}

nav ul li a{
text-decoration: none;
color:black;
font-weight: bold;

}
nav{
background-color: rgb(195, 145, 243);

}

ul{
list-style-type: none;
padding-left: 0%;
}

main li {
display: flex;
flex-wrap: nowrap;
}

img{
width: 80%;
}

aside h2{
text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0), 0 0 5px;
color: white;
}

aside ul {
padding-right: 30%;
}


body{
display: flex;
flex-wrap: wrap;
}
aside li a {
margin-left: 1%;
}
aside{
flex-basis: 18%;
flex-grow: 0;
padding-left: 1%;
background-color: rgb(255, 255, 255);
margin-top: 5%;

}
main{
flex-basis: 80%;
}

header,footer{
flex-basis: 100%;


}
footer p{
margin-left: 1%;

}
aside img{
width: 20%;
}

footer,h1{
background-color: rgb(255, 255, 255);
}

h1{
text-align: center;
font-size: 45px;
text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0), 0 0 5px;
color: rgb(255, 255, 255);
background-image: url("banniere.jpeg")
}